
@{
    ViewBag.Title = "Index";
}


<div id="tablecontainer">
    @{
        Html.RenderAction("ProductTable");
        //  Html.RenderAction("Create");
    }

</div>

<div id="actioncontainer">

</div>